In [34]:
%load_ext autoreload
%autoreload 2


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from helper import preprocess_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
df = pd.read_csv("../dataset/final_dataset/sentiment_analysis_dataset.csv")
df.head()

                                                text  label
0                        matt forte steve smith cin       0
1  but not possible others nice try modi what goo...      1
2  let complete visionary mms that denied this an...      1
3  dont see much longevity for govts rajasthan ka...      1
4       pappu may ask evidence for this too jai modi      0

0 - Negative

1 - Positive

In [36]:
df.shape

(263794, 2)

In [37]:
df.isnull().sum()

text     0
label    0
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263794 entries, 0 to 263793
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    263794 non-null  object
 1   label   263794 non-null  int64
dtypes: int64(1), object(1)
memory usage: 4.0+ MB

In [43]:
cleaned_data = df["text"].apply(lambda x: preprocess_data(x))

f:\Data Science and ML\End To End ML\Youtube Sentiment Analysis\Youtube-Comments-Sentiments-Analysis\notebooks\helper.py:28: SyntaxWarning: invalid escape sequence '\/'
  html_pattern = re.compile("https?:\/\/.*?[\s+]")
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Saurav\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [44]:
cleaned_data

0                                matt forte steve smith cin
1         possible others nice try modi good rupees goin...
2         let complete visionary mms denied modi allowed...
3         dont see much longevity govts rajasthan karnataka
4                           pappu may ask evidence jai modi
                                ...
263789         think may time lemsip soon cold really sucks
263790    listed stated many previous comments unique se...
263791    tell said anything wrong tweet even ask inners...
263792    im va weekend youngest son turns tomorrowit ma...
263793     inb history keeps changing ruling parties change
Name: text, Length: 263794, dtype: object

In [45]:
X = cleaned_data.values
y = df["label"].values

# Text Vectorization